<div class="bg-gray-800 h-full flex items-center justify-center p-6">
    <div class="relative flex flex-col text-gray-700 bg-black shadow-md bg-clip-border rounded-xl w-96" id="card">
      <div class="relative mx-4 mt-4 overflow-hidden bg-black shadow-lg bg-clip-border rounded-xl h-80">
        <img src="assets/my-image.jpg" alt="profile-picture" class="object-cover w-full h-full rounded-xl">
      </div>
      <div class="p-3 text-center">
        <h4 class="mb-2 text-2xl font-semibold leading-snug text-white">
          Obafemi Opeyemi
        </h4>
        <p class="text-base font-medium leading-relaxed text-gray-300">
          Front-End Developer
        </p>
      </div>
      <div class="p-6 text-center">
        <button type="button" class="text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-10 py-1.5 text-center me-2 mb-2"><a href="mailto:opeyemiobafemi29@gmail.com">
          <i class="fas fa-envelope mr-0.5" aria-hidden="true" ></i> Email</a>
        </button>
  
        <button type="button" class="text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-8 py-1.5 text-center me-2 mb-2 ml-4"><a href="https://www.linkedin.com/in/obafemi-opeyemi-812b0a258/">
          <i class="fab fa-linkedin mr-0.5" aria-hidden="true"></i> LinkedIn</a>
        </button>
      </div>
  
      <div class="p-4">
        <h4 class="text-xl font-semibold leading-tight text-blue-800 p-2">
          About
        </h4>
        <p class="text-gray-300 text-sm mt-2 ml-2">
          I'm a frontend developer specializing in Angular and Tailwind CSS. With a strong foundation in building dynamic web applications, I thrive on crafting pixel-perfect UIs and optimizing user experiences. My expertise spans from designing responsive layouts with HTML and CSS to implementing interactive functionalities using JavaScript.
        </p>
      </div>
  
      <div class="p-4">
        <h4 class="text-xl font-semibold leading-tight text-blue-800 p-2">
          Interest
        </h4>
        <p class="text-gray-300 text-sm p-2">
          I have a deep passion for exploring diverse narratives through reading and documentaries, enriching my understanding of the world. Gospel music uplifts my spirit with its soulful melodies and profound messages. Additionally, I find joy in expressing myself through poetry, capturing emotions and experiences in lyrical verses.
        </p>
      </div>
  
      <div class="flex justify-center p-6 pt-2 gap-7">
        <a href="https://github.com/debbie459" class="text-xl text-gray-300 hover:text-purple-400">
          <i class="fab fa-github" aria-hidden="true"></i>
        </a>
        <a href="https://x.com/just_yemii?t=Qr5w0eLxZSaX4EoZpX5ZyA&s=09" class="text-xl text-gray-300 hover:text-blue-400">
          <i class="fa fa-twitter" aria-hidden="true"></i>
        </a>
        <a href="https://www.instagram.com/just_yemii35/" class="text-xl text-gray-300 hover:text-pink-400">
          <i class="fab fa-instagram" aria-hidden="true"></i>
        </a>
      </div>
    </div>
  </div>
  